# IDE
.idea/
.vscode/
*.swp

# Postman Extension & Config
.postman/
postman/
.postman_*.json

# Environment
.env
.env.local
**/.env

# Android / Mobile
src/mobile/local.properties
src/mobile/.gradle/
src/mobile/build/
src/mobile/.idea/
**/.DS_Store

# Dependencies
node_modules/
vendor/

# Cache
bootstrap/cache/

# Logs
.github/
.git/